{
    "AWSTemplateFormatVersion": "2010-09-09",
    "Description": "Backup Script Deployment",
    "Parameters": {
    },
    "Conditions": {
    },
    "Mappings": {
    },
    "Resources": {
       "LambdaBackupRole": {
          "Type": "AWS::IAM::Role",
          "Properties": {
             "AssumeRolePolicyDocument": {
                "Version": "2012-10-17",
                "Statement": [
                   {
                      "Effect": "Allow",
                      "Principal": { "Service": [ "lambda.amazonaws.com" ] },
                            "Action": [ "sts:AssumeRole" ]
                   }
                ]
             },
             "Path": "/"
          }
       },
       "AllowLambdaBackupPolicy": {
         "Type": "AWS::IAM::Policy",
         "Properties": {
            "PolicyName": "AllowSendAWSLogs",
            "PolicyDocument": {
               "Version": "2012-10-17",
               "Statement": [
               {
                  "Effect": "Allow",
                  "Action": [
                     "logs:CreateLogGroup",
                     "logs:CreateLogStream",
                     "logs:PutLogEvents",
                     "ec2:CreateSnapshot",
                     "ec2:CreateImage",
                     "ec2:CreateTags",
                     "ec2:DeleteSnapshot",
                     "ec2:DeregisterImage",
                     "ec2:DescribeInstances",
                     "ec2:DescribeSnapshots",
                     "ec2:DescribeImages"
                  ],
                  "Resource": "*"
               }]
             },
             "Roles": [{ "Ref": "LambdaBackupRole" }]
         }
      }
   },
   "Outputs": {
       "Region": {
          "Value": { "Ref": "AWS::Region" }
       }
   }
}
