{
    "AWSTemplateFormatVersion": "2010-09-09",
    "Description": "PGI Holding Application Deployment",
    "Parameters": {
        "GlobalDomainName": {
            "Description": "Global domain name",
            "MinLength": "1",
            "Type": "String",
            "Default": "heartofalsace.com",
            "ConstraintDescription": "Domain Name cannot be empty"
        }
    },
    "Conditions": {
    },
    "Mappings": {
    },
    "Resources": {
      "HostedZone": {
         "Type": "AWS::Route53::HostedZone",
            "Properties": {
               "HostedZoneConfig": {
                  "Comment": { "Fn::Join": [ " ", ["Hosted Zone for", { "Ref": "GlobalDomainName" } ] ] }
               },
               "Name": { "Ref": "GlobalDomainName" }
            }
      }
   },
   "Outputs": {
   }
}
