{
    "AWSTemplateFormatVersion": "2010-09-09",
    "Description": "HeartOfAlsace Domains",
    "Parameters": {
        "DotComDomainName": {
            "Description": "DotCom Domain Name",
            "MinLength": "1",
            "Type": "String",
            "Default": "heartofalsace.com",
            "ConstraintDescription": "Domain Name cannot be empty"
        },
        "DotPHDomainName": {
            "Description": "DotPH Domain Name",
            "MinLength": "1",
            "Type": "String",
            "Default": "heartofalsace.ph",
            "ConstraintDescription": "Domain Name cannot be empty"
        },
        "DotComDotPHDomainName": {
            "Description": "DotComDotPH Domain Name",
            "MinLength": "1",
            "Type": "String",
            "Default": "heartofalsace.com.ph",
            "ConstraintDescription": "Domain Name cannot be empty"
        }
    },
    "Conditions": {
    },
    "Mappings": {
    },
    "Resources": {
      "DotComHostedZone": {
         "Type": "AWS::Route53::HostedZone",
            "Properties": {
               "HostedZoneConfig": {
                  "Comment": { "Fn::Join": [ " ", ["Hosted Zone for", { "Ref": "DotComDomainName" } ] ] }
               },
               "Name": { "Ref": "DotComDomainName" }
            }
      },
      "DotPHHostedZone": {
         "Type": "AWS::Route53::HostedZone",
            "Properties": {
               "HostedZoneConfig": {
                  "Comment": { "Fn::Join": [ " ", ["Hosted Zone for", { "Ref": "DotPHDomainName" } ] ] }
               },
               "Name": { "Ref": "DotPHDomainName" }
            }
      },
      "DotComDotPHHostedZone": {
         "Type": "AWS::Route53::HostedZone",
            "Properties": {
               "HostedZoneConfig": {
                  "Comment": { "Fn::Join": [ " ", ["Hosted Zone for", { "Ref": "DotComDotPHDomainName" } ] ] }
               },
               "Name": { "Ref": "DotComDotPHDomainName" }
            }
      },
      "DotComDomainMXRecord": {
         "Type": "AWS::Route53::RecordSet",
        "DependsOn" : "DotComHostedZone",
         "Properties": {
            "HostedZoneName": { "Fn::Join": [ "", [ { "Ref": "DotComDomainName" }, "." ] ] },
            "Comment": "Google MX Record",
            "Name": { "Ref": "DotComDomainName" },
            "Type": "MX",
            "TTL": "600",
            "ResourceRecords": [
               "1 ASPMX.L.GOOGLE.COM",
               "5 ALT1.ASPMX.L.GOOGLE.COM",
               "5 ALT2.ASPMX.L.GOOGLE.COM",
               "10 ALT3.ASPMX.L.GOOGLE.COM",
               "10 ALT4.ASPMX.L.GOOGLE.COM"
            ]
         }
      },
      "DotComDomainTxtRecord": {
         "Type": "AWS::Route53::RecordSet",
         "Properties": {
            "HostedZoneName": { "Fn::Join": [ "", [ { "Ref": "DotComDomainName" }, "." ] ] },
            "Comment": "Gmail Verification TXT record",
            "Name": { "Fn::Join": [ ".", [ "@", { "Ref": "DotComDomainName" } ] ] },
            "Type": "TXT",
            "TTL": "600",
            "ResourceRecords": [
               '"google-site-verification=HpLDLLB2AiGEX1DxjLo6YhZsXk6yKBDqqvJux1pxy7w"'
            ]
         }
      },
      "DotComDomainCNAMERecord": {
         "Type": "AWS::Route53::RecordSet",
         "Properties": {
            "HostedZoneName": { "Fn::Join": [ "", [ { "Ref": "DotComDomainName" }, "." ] ] },
            "Comment": "Gmail Verification CNAME record",
            "Name": { "Fn::Join": [ ".", [ "izw3pxtwz5sb", { "Ref": "DotComDomainName" } ] ] },
            "Type": "CNAME",
            "TTL": "600",
            "ResourceRecords": [
               "gv-tboyuvlxwvmg4v.dv.googlehosted.com"
            ]
         }
      }

   },
   "Outputs": {
   }
}
