{
    "AWSTemplateFormatVersion": "2010-09-09",
    "Description": "iScale Solutions Website Deployment",
    "Parameters": {
         "instanceType": {
            "Description": "The type of the Instance",
            "Type": "String",
            "Default": "t3.medium"
         },
        "GlobalDomainName": {
            "Description": "Global domain name (E.g 'iscale-solutions.com')",
            "MinLength": "1",
            "Type": "String",
            "Default": "iscale-solutions.com",
            "ConstraintDescription": "Domain Name cannot be empty"
        },
        "NetworkStack": {
            "Description": "Name of the Network Stack",
            "MinLength": "1",
            "Type": "String",
            "ConstraintDescription": "Network stack Name cannot be null"
        },
        "ELBStack": {
            "Description": "Name of the ELB Stack",
            "MinLength": "1",
            "Type": "String",
            "ConstraintDescription": "ELB stack Name cannot be null"
        },
        "AppServerAMI": {
           "Description": "Name of AppServer AMI",
           "MinLength": "1",
           "Type": "AWS::EC2::Image::Id",
           "ConstraintDescription": "AppServer AMI cannot be null"
        },
        "PublicELBSecurityGroup": {
         "Description": "Name of the public ELB Security Group",
         "MinLength": "1",
         "Type": "String",
         "ConstraintDescription": "AppServer AMI cannot be null"
        },
        "name": {
            "Description": "Name of the client",
            "Type": "String",
            "Default": "iscalesolutionsv2"
        },
        "environment": {
            "Description": "The environment (production, staging, development, etc)",
            "Type": "String",
            "Default": "production",
            "AllowedValues": ["production","staging","development"]
        },
        "envShort": {
            "Description": "The environment (prd, stg, dev, etc)",
            "Type": "String",
            "Default": "prd",
            "AllowedValues": ["prd","stg","dev"]
        },
        "organization": {
            "Description": "The organization (iScale)",
            "Type": "String",
            "Default": "iscale"
        },
        "regionShort": {
            "Description": "Region where the the resource is hosted (eu1 - EU-Central-1, uw2 - US-West-2, uw1 - US-West-1)",
            "Type": "String",
            "Default": "uw2"
        },
        "snsTopicStack": {
            "Description": "name of the SNS Topic Stack",
            "Type": "String"
        }
    },
    "Conditions": {
    },
    "Mappings": {
    },
    "Resources": {
      "AppServerTargetGroup": {
         "Type": "AWS::ElasticLoadBalancingV2::TargetGroup",
         "Properties": {
             "HealthCheckIntervalSeconds": "10",
             "HealthCheckProtocol": "HTTP",
             "HealthCheckTimeoutSeconds": "2",
             "HealthyThresholdCount": "2",
             "UnhealthyThresholdCount": "3",
             "HealthCheckPath": "/health.php",
             "Matcher": { "HttpCode": "200" },
             "Port": "80",
             "Protocol": "HTTP",
             "TargetGroupAttributes": [],
             "Targets": [{ "Id": {"Ref" : "AppServerInstance"}, "Port": 80 }],
             "TargetType": "instance",
             "VpcId": { "Fn::ImportValue": {"Fn::Sub": "${NetworkStack}-VPC" } },
             "Tags": [{
                "Key": "Name",
                "Value": { "Fn::Join": [ " ", [ { "Fn::ImportValue": {"Fn::Sub": "${NetworkStack}-SetupName"} }, "iScale Solutions V2 AppServer Target Group" ] ] }
             }]
         }
      },
      "HTTPListenerRuleDomain": {
         "Type": "AWS::ElasticLoadBalancingV2::ListenerRule",
         "Properties": {
            "Actions": [{
               "Type": "forward",
               "TargetGroupArn": { "Ref": "AppServerTargetGroup" }
            }],
            "Conditions": [{
               "Field": "host-header",
               "Values": [{"Fn::Join" : [ ".", [ "www-v2", { "Ref": "GlobalDomainName" }]] }]
            }],
            "ListenerArn": { "Fn::ImportValue": {"Fn::Sub": "${ELBStack}-HTTPListener"} },
            "Priority": 700
         }
      },
      "SSLListenerRuleDomain": {
         "Type": "AWS::ElasticLoadBalancingV2::ListenerRule",
         "Properties": {
            "Actions": [{
               "Type": "forward",
               "TargetGroupArn": { "Ref": "AppServerTargetGroup" }
            }],
            "Conditions": [{
               "Field": "host-header",
               "Values": [{"Fn::Join" : [ ".", [ "www-v2", { "Ref": "GlobalDomainName" }]] }]
            }],
            "ListenerArn": { "Fn::ImportValue": {"Fn::Sub": "${ELBStack}-SSLListener"} },
            "Priority": 700
         }
      },
       "AppServerRole": {
          "Type": "AWS::IAM::Role",
          "Properties": {
             "AssumeRolePolicyDocument": {
                "Version": "2012-10-17",
                "Statement": [
                   {
                      "Effect": "Allow",
                      "Principal": { "Service": [ "ec2.amazonaws.com" ] },
                            "Action": [ "sts:AssumeRole" ]
                   }
                ]
             },
             "Path": "/",
             "ManagedPolicyArns" : ["arn:aws:iam::aws:policy/AmazonSSMManagedInstanceCore"]
          }
       },
       "AllowSendAWSLogsPolicy": {
         "Type": "AWS::IAM::Policy",
         "Properties": {
            "PolicyName": "AllowSendAWSLogs",
            "PolicyDocument": {
               "Version": "2012-10-17",
               "Statement": [
               {
                  "Effect": "Allow",
                  "Action": [
                     "logs:CreateLogGroup",
                     "logs:CreateLogStream",
                     "logs:DescribeLogGroups",
                     "logs:DescribeLogStreams",
                     "logs:PutLogEvents"
                  ],
                  "Resource": "*"
               }]
             },
             "Roles": [{ "Ref": "AppServerRole" }]
          }
       },
       "AllowEC2InfoPolicy": {
         "Type": "AWS::IAM::Policy",
         "Properties": {
            "PolicyName": "AllowAccessToEC2Info",
            "PolicyDocument": {
               "Version": "2012-10-17",
               "Statement": [
               {
                  "Effect": "Allow",
                  "Action": [
                     "ec2:DescribeInstanceStatus",
                     "ec2:DescribeTags"
                  ],
                  "Resource": "*"
               }]
            },
            "Roles": [{ "Ref": "AppServerRole" }]
          }
       },
       "AppServerSecurityGroup": {
          "Type": "AWS::EC2::SecurityGroup",
          "Properties": {
             "VpcId": { "Fn::ImportValue": {"Fn::Sub": "${NetworkStack}-VPC"} },
             "GroupDescription": { "Fn::Join": [ " ", [ { "Fn::ImportValue": {"Fn::Sub": "${NetworkStack}-SetupName"} }, "iScale Solutions V2 AppServer Security Group" ] ] },
             "SecurityGroupIngress": [
                {
                   "IpProtocol": "tcp",
                   "FromPort": "22",
                   "ToPort": "22",
                   "SourceSecurityGroupId": { "Fn::ImportValue": { "Fn::Sub": "${NetworkStack}-BastionSecurityGroup" } },
                   "Description": "SSH Access from Bastion"
                },
                {
                   "IpProtocol": "tcp",
                   "FromPort": "80",
                   "ToPort": "80",
                   "SourceSecurityGroupId": { "Ref": "PublicELBSecurityGroup" },
                   "Description": "HTTP Access from Public ELB"
                }
             ],
             "Tags": [{
                "Key": "Name",
                "Value": { "Fn::Join": [ " ", [ { "Fn::ImportValue": {"Fn::Sub": "${NetworkStack}-SetupName"} }, "iScale Solutions V2  AppServer Security Group" ] ] }
             }]
          }
      },
       "AppServerInstanceProfile": {
            "Type": "AWS::IAM::InstanceProfile",
            "Properties": {
                "Path": "/",
                "Roles": [
                    {
                        "Ref": "AppServerRole"
                    }
                ]
            }
      },
      "AppServerInstance": {
         "Type": "AWS::EC2::Instance",
         "Properties": {
            "ImageId": { "Ref": "AppServerAMI" },
            "KeyName": "kmelchor",
            "InstanceType": { "Ref": "instanceType" },
            "IamInstanceProfile": { "Ref": "AppServerInstanceProfile" },
            "DisableApiTermination": false,
            "NetworkInterfaces": [ {
               "AssociatePublicIpAddress": "false",
               "DeviceIndex": "0",
               "GroupSet": [ 
                  { "Ref": "AppServerSecurityGroup" }
               ],
               "SubnetId": { "Fn::ImportValue": {"Fn::Sub": "${NetworkStack}-PrivateSubnetAZ1"} }
            }],
            "Tags": [{
               "Key": "Name",
               "Value": { "Fn::Join": [ " ", [ { "Fn::ImportValue": {"Fn::Sub": "${NetworkStack}-SetupName"} }, "iScale Solutions V2 AppServer Instance" ] ] },
             },
             {
               "Key": "Retention",
               "Value": "60",
             },
             {
                "Key": "LambdaBackupConfiguration",
                "Value": "30,8,12,2"
             }]
          }
      },
      "cloudWatchAlarmCPUUtilization": {
         "Type": "AWS::CloudWatch::Alarm",
         "Properties": {
            "AlarmName": { "Fn::Join" : [ "-", [ {"Ref" : "organization"}, {"Ref" : "envShort"}, {"Ref" : "regionShort"},{"Ref" : "name"}, "cpu-utilization"] ] },
            "MetricName": "CPUUtilization",
            "Namespace": "AWS/EC2",
            "ComparisonOperator": "GreaterThanOrEqualToThreshold",
            "EvaluationPeriods": "1",
            "Period": "300",
            "Statistic": "Average",
            "Threshold": "80",
            "AlarmActions": [ {"Fn::ImportValue": {"Fn::Sub": "${snsTopicStack}-Arn"}} ],
            "OKActions": [ {"Fn::ImportValue": {"Fn::Sub": "${snsTopicStack}-Arn"}} ],
            "Dimensions": [
               {
                  "Name": "InstanceId",
                  "Value": { "Ref": "AppServerInstance" }
               }
            ]
         }
      },
      "cloudWatchAlarmStatusChecks": {
         "Type": "AWS::CloudWatch::Alarm",
         "Properties": {
            "AlarmName": { "Fn::Join" : [ "-", [ {"Ref" : "organization"}, {"Ref" : "envShort"}, {"Ref" : "regionShort"},{"Ref" : "name"}, "status-checks"] ] },
            "MetricName": "StatusCheckFailed",
            "Namespace": "AWS/EC2",
            "ComparisonOperator": "GreaterThanOrEqualToThreshold",
            "EvaluationPeriods": "1",
            "Period": "300",
            "Statistic": "Minimum",
            "Threshold": "1",
            "AlarmActions": [ {"Fn::ImportValue": {"Fn::Sub": "${snsTopicStack}-Arn"}} ],
            "OKActions": [ {"Fn::ImportValue": {"Fn::Sub": "${snsTopicStack}-Arn"}} ],
            "Dimensions": [
               {
                  "Name": "InstanceId",
                  "Value": { "Ref": "AppServerInstance" }
               }
            ]
         }
      },
      "cloudWatchAlarmCPUCreditBalance": {
         "Type": "AWS::CloudWatch::Alarm",
         "Properties": {
            "AlarmName": { "Fn::Join" : [ "-", [ {"Ref" : "organization"}, {"Ref" : "envShort"}, {"Ref" : "regionShort"},{"Ref" : "name"}, "cpu-credit-balance"] ] },
            "MetricName": "CPUCreditBalance",
            "Namespace": "AWS/EC2",
            "ComparisonOperator": "LessThanOrEqualToThreshold",
            "EvaluationPeriods": "1",
            "Period": "300",
            "Statistic": "Minimum",
            "Threshold": "24",
            "AlarmActions": [ {"Fn::ImportValue": {"Fn::Sub": "${snsTopicStack}-Arn"}} ],
            "OKActions": [ {"Fn::ImportValue": {"Fn::Sub": "${snsTopicStack}-Arn"}} ],
            "Dimensions": [
               {
                  "Name": "InstanceId",
                  "Value": { "Ref": "AppServerInstance" }
               }
            ]
         }
      },
      "cloudWatchAlarmUnhealthyHostCount": {
         "Type": "AWS::CloudWatch::Alarm",
         "Properties": {
            "AlarmName": { "Fn::Join" : [ "-", [ {"Ref" : "organization"}, {"Ref" : "envShort"}, {"Ref" : "regionShort"},{"Ref" : "name"}, "unhealthy-host-count"] ] },
            "MetricName": "UnHealthyHostCount",
            "Namespace": "AWS/ApplicationELB",
            "ComparisonOperator": "GreaterThanOrEqualToThreshold",
            "EvaluationPeriods": "1",
            "Period": "60",
            "Statistic": "Maximum",
            "Threshold": "1",
            "AlarmActions": [ {"Fn::ImportValue": {"Fn::Sub": "${snsTopicStack}-Arn"}} ],
            "OKActions": [ {"Fn::ImportValue": {"Fn::Sub": "${snsTopicStack}-Arn"}} ],
            "Dimensions": [
               {
                  "Name": "LoadBalancer",
                  "Value": {"Fn::ImportValue": {"Fn::Sub": "${ELBStack}-LoadBalancerFullName"}}
               },
               {
                  "Name": "TargetGroup",
                  "Value": { "Fn::GetAtt": ["AppServerTargetGroup","TargetGroupFullName"] }
               }
            ]
         }
      }
   },
   "Outputs": {
   }
}
