{
   "AWSTemplateFormatVersion" : "2010-09-09",
   "Description" : "DNS Entries for Production",
   "Parameters" : {
      "DomainName" : {
         "Description" : "Domain Name",
         "Type" : "String",
         "Default" : "uploan.ph",
         "ConstraintDescription" : "must be a valid domain name"
      },
      "LocalDomainName" : {
         "Description" : "Local Domain Name",
         "Type" : "String",
         "Default" : "uploan.prod",
         "ConstraintDescription" : "must be a valid domain name"
      },
      "VPC" : {
         "Description" : "Associated VPC",
         "Type" : "AWS::EC2::VPC::Id"
      },
   },
   "Mappings" : {
   },
   "Resources" : {
      "HostedZone": {
         "Type": "AWS::Route53::HostedZone",
         "Properties": {
            "HostedZoneConfig": {
               "Comment": { "Fn::Join": [ " ", ["INACTIVE Hosted Zone for", { "Ref": "DomainName" } ] ] }
             },
             "Name": { "Ref": "DomainName" }
          }
      },
      "VPCHostedZone": {
         "Type": "AWS::Route53::HostedZone",
         "Properties": {
            "HostedZoneConfig": {
               "Comment": { "Fn::Join": [ " ", ["Hosted Zone for", { "Ref": "LocalDomainName" } ] ] }
             },
             "Name": { "Ref": "LocalDomainName" },
             "VPCs": [{
                "VPCId": { "Ref": "VPC" },
                "VPCRegion": { "Ref" : "AWS::Region" }
             }]
          }
      },
      "MXRecords": {
        "DependsOn": "HostedZone", 
        "Type": "AWS::Route53::RecordSet",
         "Properties": {
            "HostedZoneName": { "Fn::Join": [ "", [ { "Ref": "DomainName" }, "." ] ] },
            "Comment": "MX Record",
            "Name": { "Ref": "DomainName" },
            "Type": "MX",
            "TTL": "60",
            "ResourceRecords": [
               "10 aspmx3.googlemail.com.",
               "10 aspmx2.googlemail.com.",
               "5 alt2.aspmx.l.google.com.",
               "5 alt1.aspmx.l.google.com.",
               "1 aspmx.l.google.com."
            ]
         }
      },
      "TXTRecords": {
          "DependsOn": "HostedZone",
          "Type": "AWS::Route53::RecordSet",
          "Properties": {
             "HostedZoneId": { "Ref": "HostedZone" },
             "Comment": "TXT Entry",
             "Name": { "Ref" : "DomainName" },
             "Type": "TXT",
             "TTL": "60",
             "ResourceRecords": [
                '"MS=ms84440854"',
                '"google-site-verification=sVOGBnmV-bvCeE6uigfiE47FJINwnyJdM0JXye6mA6U"',
                '"v=spf1 include:servers.mcsv.net ?all"',
                '"v=spf1 include:servers.mcsv.net ?all"',
                '"k=rsa; t=s; p=MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDPtW5iwpXVPiH5FzJ7Nrl8USzuY9zqqzjE0D1r04xDN6qwziDnmgcFNNfMewVKN2D1O+2J9N14hRprzByFwfQW76yojh54Xu3uSbQ3JP0A7k8o8GutRF8zbFUA8n0ZH2y0cIEjMliXY4W4LwPA7m4q0ObmvSjhd63O9d8z1XkUBwIDAQAB"'
             ]
         }
      },
      "BlogCNAME": {
          "DependsOn": "HostedZone",
          "Type": "AWS::Route53::RecordSet",
          "Properties": {
             "HostedZoneId": { "Ref": "HostedZone" },
             "Comment": "Blog CNAME Entry",
             "Name": { "Fn::Join": [ ".", [ "blog", { "Ref": "DomainName" } ] ] },
             "Type": "CNAME",
             "TTL": "60",
             "ResourceRecords": [
                "4833855.group5.sites.hubspot.net.",
             ]
         }
      },
      "EmailCNAME": {
          "DependsOn": "HostedZone",
          "Type": "AWS::Route53::RecordSet",
          "Properties": {
             "HostedZoneId": { "Ref": "HostedZone" },
             "Comment": "Email CNAME Entry",
             "Name": { "Fn::Join": [ ".", [ "email", { "Ref": "DomainName" } ] ] },
             "Type": "CNAME",
             "TTL": "60",
             "ResourceRecords": [
                "email.secureserver.net.",
             ]
         }
      },
      "FTPCNAME": {
          "DependsOn": "HostedZone",
          "Type": "AWS::Route53::RecordSet",
          "Properties": {
             "HostedZoneId": { "Ref": "HostedZone" },
             "Comment": "FTP CNAME Entry",
             "Name": { "Fn::Join": [ ".", [ "ftp", { "Ref": "DomainName" } ] ] },
             "Type": "CNAME",
             "TTL": "60",
             "ResourceRecords": [
                "uploan.ph.",
             ]
         }
      },
      "InfoCNAME": {
          "DependsOn": "HostedZone",
          "Type": "AWS::Route53::RecordSet",
          "Properties": {
             "HostedZoneId": { "Ref": "HostedZone" },
             "Comment": "Info CNAME Entry",
             "Name": { "Fn::Join": [ ".", [ "info", { "Ref": "DomainName" } ] ] },
             "Type": "CNAME",
             "TTL": "60",
             "ResourceRecords": [
                "4833855.group5.sites.hubspot.net.",
             ]
         }
      },
      "WWW": {
          "DependsOn": "HostedZone",
          "Type": "AWS::Route53::RecordSet",
          "Properties": {
             "HostedZoneId": { "Ref": "HostedZone" },
             "Comment": "WWW A Entry",
             "Name": { "Fn::Join": [ ".", [ "www", { "Ref": "DomainName" } ] ] },
             "Type": "A",
             "TTL": "60",
             "ResourceRecords": [
                "52.221.249.178",
             ]
         }
      },
      "NoWWW": {
          "DependsOn": "HostedZone",
          "Type": "AWS::Route53::RecordSet",
          "Properties": {
             "HostedZoneId": { "Ref": "HostedZone" },
             "Comment": "No WWW A Entry",
             "Name": { "Ref": "DomainName" },
             "Type": "A",
             "TTL": "60",
             "ResourceRecords": [
                "52.221.249.178",
             ]
         }
      },
      "Wellness": {
          "DependsOn": "HostedZone",
          "Type": "AWS::Route53::RecordSet",
          "Properties": {
             "HostedZoneId": { "Ref": "HostedZone" },
             "Comment": "Wellness A Entry",
             "Name": { "Fn::Join": [ ".", [ "wellness", { "Ref": "DomainName" } ] ] },
             "Type": "A",
             "TTL": "60",
             "ResourceRecords": [
                "18.136.206.120",
             ]
         }
      },
      "Vote": {
          "DependsOn": "HostedZone",
          "Type": "AWS::Route53::RecordSet",
          "Properties": {
             "HostedZoneId": { "Ref": "HostedZone" },
             "Comment": "Vote A Entry",
             "Name": { "Fn::Join": [ ".", [ "vote", { "Ref": "DomainName" } ] ] },
             "Type": "A",
             "TTL": "60",
             "ResourceRecords": [
                "18.136.206.120",
             ]
         }
      },
      "V2": {
          "DependsOn": "HostedZone",
          "Type": "AWS::Route53::RecordSet",
          "Properties": {
             "HostedZoneId": { "Ref": "HostedZone" },
             "Comment": "v2 A Entry",
             "Name": { "Fn::Join": [ ".", [ "v2", { "Ref": "DomainName" } ] ] },
             "Type": "A",
             "TTL": "60",
             "ResourceRecords": [
                "52.221.249.178",
             ]
         }
      },
      "Sonar": {
          "DependsOn": "HostedZone",
          "Type": "AWS::Route53::RecordSet",
          "Properties": {
             "HostedZoneId": { "Ref": "HostedZone" },
             "Comment": "Sonar A Entry",
             "Name": { "Fn::Join": [ ".", [ "sonar", { "Ref": "DomainName" } ] ] },
             "Type": "A",
             "TTL": "60",
             "ResourceRecords": [
                "3.1.195.183",
             ]
         }
      },
      "Nexus": {
          "DependsOn": "HostedZone",
          "Type": "AWS::Route53::RecordSet",
          "Properties": {
             "HostedZoneId": { "Ref": "HostedZone" },
             "Comment": "Nexus A Entry",
             "Name": { "Fn::Join": [ ".", [ "nexus", { "Ref": "DomainName" } ] ] },
             "Type": "A",
             "TTL": "60",
             "ResourceRecords": [
                "3.1.195.183",
             ]
         }
      },
      "QA1": {
          "DependsOn": "HostedZone",
          "Type": "AWS::Route53::RecordSet",
          "Properties": {
             "HostedZoneId": { "Ref": "HostedZone" },
             "Comment": "QA1 A Entry",
             "Name": { "Fn::Join": [ ".", [ "qa1", { "Ref": "DomainName" } ] ] },
             "Type": "A",
             "TTL": "60",
             "ResourceRecords": [
                "13.229.124.32",
             ]
         }
      },
      "QA2": {
          "DependsOn": "HostedZone",
          "Type": "AWS::Route53::RecordSet",
          "Properties": {
             "HostedZoneId": { "Ref": "HostedZone" },
             "Comment": "QA2 A Entry",
             "Name": { "Fn::Join": [ ".", [ "qa2", { "Ref": "DomainName" } ] ] },
             "Type": "A",
             "TTL": "60",
             "ResourceRecords": [
                "52.221.198.106",
             ]
         }
      },
      "QA3": {
          "DependsOn": "HostedZone",
          "Type": "AWS::Route53::RecordSet",
          "Properties": {
             "HostedZoneId": { "Ref": "HostedZone" },
             "Comment": "QA3 A Entry",
             "Name": { "Fn::Join": [ ".", [ "qa3", { "Ref": "DomainName" } ] ] },
             "Type": "A",
             "TTL": "60",
             "ResourceRecords": [
                "54.255.166.168",
             ]
         }
      },
      "QA4": {
          "DependsOn": "HostedZone",
          "Type": "AWS::Route53::RecordSet",
          "Properties": {
             "HostedZoneId": { "Ref": "HostedZone" },
             "Comment": "QA4 A Entry",
             "Name": { "Fn::Join": [ ".", [ "qa4", { "Ref": "DomainName" } ] ] },
             "Type": "A",
             "TTL": "60",
             "ResourceRecords": [
                "54.254.224.169",
             ]
         }
      },
      "QA5": {
          "DependsOn": "HostedZone",
          "Type": "AWS::Route53::RecordSet",
          "Properties": {
             "HostedZoneId": { "Ref": "HostedZone" },
             "Comment": "QA5 A Entry",
             "Name": { "Fn::Join": [ ".", [ "qa5", { "Ref": "DomainName" } ] ] },
             "Type": "A",
             "TTL": "60",
             "ResourceRecords": [
                "13.228.183.242",
             ]
         }
      },
      "QA6": {
          "DependsOn": "HostedZone",
          "Type": "AWS::Route53::RecordSet",
          "Properties": {
             "HostedZoneId": { "Ref": "HostedZone" },
             "Comment": "QA6 A Entry",
             "Name": { "Fn::Join": [ ".", [ "qa6", { "Ref": "DomainName" } ] ] },
             "Type": "A",
             "TTL": "60",
             "ResourceRecords": [
                "54.169.231.224",
             ]
         }
      },
      "QA7": {
          "DependsOn": "HostedZone",
          "Type": "AWS::Route53::RecordSet",
          "Properties": {
             "HostedZoneId": { "Ref": "HostedZone" },
             "Comment": "QA7 A Entry",
             "Name": { "Fn::Join": [ ".", [ "qa7", { "Ref": "DomainName" } ] ] },
             "Type": "A",
             "TTL": "60",
             "ResourceRecords": [
                "54.254.214.88",
             ]
         }
      },
      "QA8": {
          "DependsOn": "HostedZone",
          "Type": "AWS::Route53::RecordSet",
          "Properties": {
             "HostedZoneId": { "Ref": "HostedZone" },
             "Comment": "QA8 A Entry",
             "Name": { "Fn::Join": [ ".", [ "qa8", { "Ref": "DomainName" } ] ] },
             "Type": "A",
             "TTL": "60",
             "ResourceRecords": [
                "52.77.228.248",
             ]
         }
      },
      "William": {
          "DependsOn": "HostedZone",
          "Type": "AWS::Route53::RecordSet",
          "Properties": {
             "HostedZoneId": { "Ref": "HostedZone" },
             "Comment": "William A Entry",
             "Name": { "Fn::Join": [ ".", [ "william", { "Ref": "DomainName" } ] ] },
             "Type": "A",
             "TTL": "60",
             "ResourceRecords": [
                "13.229.44.237",
             ]
         }
      },
      "WilliamQA1": {
          "DependsOn": "HostedZone",
          "Type": "AWS::Route53::RecordSet",
          "Properties": {
             "HostedZoneId": { "Ref": "HostedZone" },
             "Comment": "QA1 A Entry",
             "Name": { "Fn::Join": [ ".", [ "william.qa1", { "Ref": "DomainName" } ] ] },
             "Type": "A",
             "TTL": "60",
             "ResourceRecords": [
                "13.229.124.32",
             ]
         }
      },
      "WilliamQA2": {
          "DependsOn": "HostedZone",
          "Type": "AWS::Route53::RecordSet",
          "Properties": {
             "HostedZoneId": { "Ref": "HostedZone" },
             "Comment": "William QA2 A Entry",
             "Name": { "Fn::Join": [ ".", [ "william.qa2", { "Ref": "DomainName" } ] ] },
             "Type": "A",
             "TTL": "60",
             "ResourceRecords": [
                "52.221.198.106",
             ]
         }
      },
      "WilliamQA3": {
          "DependsOn": "HostedZone",
          "Type": "AWS::Route53::RecordSet",
          "Properties": {
             "HostedZoneId": { "Ref": "HostedZone" },
             "Comment": "WilliamQA3 A Entry",
             "Name": { "Fn::Join": [ ".", [ "william.qa3", { "Ref": "DomainName" } ] ] },
             "Type": "A",
             "TTL": "60",
             "ResourceRecords": [
                "54.255.166.168",
             ]
         }
      },
      "WilliamQA4": {
          "DependsOn": "HostedZone",
          "Type": "AWS::Route53::RecordSet",
          "Properties": {
             "HostedZoneId": { "Ref": "HostedZone" },
             "Comment": "William QA4 A Entry",
             "Name": { "Fn::Join": [ ".", [ "william.qa4", { "Ref": "DomainName" } ] ] },
             "Type": "A",
             "TTL": "60",
             "ResourceRecords": [
                "54.254.224.169",
             ]
         }
      },
      "WilliamQA5": {
          "DependsOn": "HostedZone",
          "Type": "AWS::Route53::RecordSet",
          "Properties": {
             "HostedZoneId": { "Ref": "HostedZone" },
             "Comment": "William QA5 A Entry",
             "Name": { "Fn::Join": [ ".", [ "william.qa5", { "Ref": "DomainName" } ] ] },
             "Type": "A",
             "TTL": "60",
             "ResourceRecords": [
                "13.228.183.242",
             ]
         }
      },
      "WilliamQA6": {
          "DependsOn": "HostedZone",
          "Type": "AWS::Route53::RecordSet",
          "Properties": {
             "HostedZoneId": { "Ref": "HostedZone" },
             "Comment": "William QA6 A Entry",
             "Name": { "Fn::Join": [ ".", [ "william.qa6", { "Ref": "DomainName" } ] ] },
             "Type": "A",
             "TTL": "60",
             "ResourceRecords": [
                "54.169.231.224",
             ]
         }
      },
      "WilliamQA7": {
          "DependsOn": "HostedZone",
          "Type": "AWS::Route53::RecordSet",
          "Properties": {
             "HostedZoneId": { "Ref": "HostedZone" },
             "Comment": "William QA7 A Entry",
             "Name": { "Fn::Join": [ ".", [ "william.qa7", { "Ref": "DomainName" } ] ] },
             "Type": "A",
             "TTL": "60",
             "ResourceRecords": [
                "54.254.214.88",
             ]
         }
      },
      "WilliamQA8": {
          "DependsOn": "HostedZone",
          "Type": "AWS::Route53::RecordSet",
          "Properties": {
             "HostedZoneId": { "Ref": "HostedZone" },
             "Comment": "William QA8 A Entry",
             "Name": { "Fn::Join": [ ".", [ "william.qa8", { "Ref": "DomainName" } ] ] },
             "Type": "A",
             "TTL": "60",
             "ResourceRecords": [
                "52.77.228.248",
             ]
         }
      },
      "SecureCNAME": {
          "DependsOn": "HostedZone",
          "Type": "AWS::Route53::RecordSet",
          "Properties": {
             "HostedZoneId": { "Ref": "HostedZone" },
             "Comment": "Secure CNAME Entry",
             "Name": { "Fn::Join": [ ".", [ "secure", { "Ref": "DomainName" } ] ] },
             "Type": "CNAME",
             "TTL": "60",
             "ResourceRecords": [
                "uploanloadbalancer-1335955727.ap-southeast-1.elb.amazonaws.com",
             ]
         }
      },
      "Staging": {
          "DependsOn": "HostedZone",
          "Type": "AWS::Route53::RecordSet",
          "Properties": {
             "HostedZoneId": { "Ref": "HostedZone" },
             "Comment": "Staging A Entry",
             "Name": { "Fn::Join": [ ".", [ "staging", { "Ref": "DomainName" } ] ] },
             "Type": "A",
             "TTL": "60",
             "ResourceRecords": [
                "52.221.20.254",
             ]
         }
      },
      "StagingDaily": {
          "DependsOn": "HostedZone",
          "Type": "AWS::Route53::RecordSet",
          "Properties": {
             "HostedZoneId": { "Ref": "HostedZone" },
             "Comment": "StagingDaily A Entry",
             "Name": { "Fn::Join": [ ".", [ "staging-daily", { "Ref": "DomainName" } ] ] },
             "Type": "A",
             "TTL": "60",
             "ResourceRecords": [
                "13.250.94.134",
             ]
         }
      },
   },
   "Outputs" : {
   }
} 
