.panel-default {
    border-color: #dddddd;
}

table, th, td {
    border: 1px solid black;
    height: 50px;
    vertical-align: middle;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #a77373;
}

th {
    background-color: #1517a8;
    color: white;
    text-align: center;
  }
