{
  "AWSTemplateFormatVersion" : "2010-09-09",
  "Description" : "DNS Setup",
  "Parameters" : {
    "DomainName" : {
      "Description" : "Domain Name",
      "Type" : "String",
      "Default" : "uploan.ph",
      "ConstraintDescription" : "must be a valid domain name"
    },
    "LocalDomainName" : {
      "Description" : "Local Domain Name",
      "Type" : "String",
      "Default" : "uploan.prod",
      "ConstraintDescription" : "must be a valid domain name"
    },
    "VPC" : {
      "Description" : "Associated VPC",
      "Type" : "AWS::EC2::VPC::Id"
    },
  },
  "Mappings" : {
  },
  "Resources" : {
     "HostedZone": {
        "Type": "AWS::Route53::HostedZone",
        "Properties": {
           "HostedZoneConfig": {
              "Comment": { "Fn::Join": [ " ", ["INACTIVE Hosted Zone for", { "Ref": "DomainName" } ] ] }
            },
            "Name": { "Ref": "DomainName" }
         }
     },
     "VPCHostedZone": {
        "Type": "AWS::Route53::HostedZone",
        "Properties": {
           "HostedZoneConfig": {
              "Comment": { "Fn::Join": [ " ", ["Hosted Zone for", { "Ref": "LocalDomainName" } ] ] }
            },
            "Name": { "Ref": "LocalDomainName" }
         }
     }
  },
  "Outputs" : {
     "HostedZoneId" : {
        "Value": { "Ref": "HostedZone" }
     },
     "VPCHostedZoneId" : {
        "Value": { "Ref": "VPCHostedZone" }
     }
  }
} 
