{
   "AWSTemplateFormatVersion" : "2010-09-09",
   "Description" : "DNS Entries for Staging",
   "Parameters" : {
      "DomainName" : {
         "Description" : "Domain Name",
         "Type" : "String",
         "Default" : "uploantest.ph",
         "ConstraintDescription" : "must be a valid domain name"
      },
      "LocalDomainName" : {
         "Description" : "Local Domain Name",
         "Type" : "String",
         "Default" : "uploan.staging",
         "ConstraintDescription" : "must be a valid domain name"
      },
      "VPC" : {
         "Description" : "Associated VPC",
         "Type" : "AWS::EC2::VPC::Id"
      },
   },
   "Mappings" : {
   },
   "Resources" : {
      "HostedZone": {
         "Type": "AWS::Route53::HostedZone",
         "Properties": {
            "HostedZoneConfig": {
               "Comment": { "Fn::Join": [ " ", ["Hosted Zone for", { "Ref": "DomainName" } ] ] }
             },
             "Name": { "Ref": "DomainName" }
          }
      },
      "VPCHostedZone": {
         "Type": "AWS::Route53::HostedZone",
         "Properties": {
            "HostedZoneConfig": {
               "Comment": { "Fn::Join": [ " ", ["Hosted Zone for", { "Ref": "LocalDomainName" } ] ] }
             },
             "Name": { "Ref": "LocalDomainName" }
          }
      },
      "QADB": {
          "DependsOn": "HostedZone",
          "Type": "AWS::Route53::RecordSet",
          "Properties": {
             "HostedZoneId": { "Ref": "VPCHostedZone" },
             "Comment": "iScale QA DB - will be replaced",
             "Name": { "Fn::Join": [ ".", [ "iscale-qa.db", { "Ref": "LocalDomainName" } ] ] },
             "Type": "CNAME",
             "TTL": "60",
             "ResourceRecords": [
                "iscale-qa.cw3pu0jmdl3q.ap-southeast-1.rds.amazonaws.com",
             ]
         }
      },
   },
   "Outputs" : {
   }
} 
