{
   "AWSTemplateFormatVersion" : "2010-09-09",
   "Description" : "DNS Entries for Staging",
   "Parameters" : {
      "DomainName" : {
         "Description" : "Domain Name",
         "Type" : "String",
         "Default" : "uploan.tech",
         "ConstraintDescription" : "must be a valid domain name"
      },
   },
   "Mappings" : {
   },
   "Resources" : {
      "HostedZone": {
         "Type": "AWS::Route53::HostedZone",
         "Properties": {
            "HostedZoneConfig": {
               "Comment": { "Fn::Join": [ " ", ["Hosted Zone for", { "Ref": "DomainName" } ] ] }
             },
             "Name": { "Ref": "DomainName" }
          }
      }
   },
   "Outputs" : {
   }
} 
